h1{ padding: 50px;

    margin: auto;
}
nav {
width: auto;
margin-bottom: 5px;
width: 500px;
overflow: auto;
background: darkblue;
color: whitesmoke;
font-family:Georgia, 'Times New Roman', Times, serif
}

li {
    margin: auto;
    width: auto;
    float: right;
    color: whitesmoke;
    display: inline;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    padding-right: 18px;
    padding-bottom: 50px;
}
body {

}

h1 {
    background: darkblue;
    color: whitesmoke;
    font-family:'Georgia', Times, Times New Roman, serif;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    position: sticky;
    background: darkblue;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo
.navbar
.container